---
layout: page
pagination:
  data: categories
  size: 1
  alias: category
permalink: /categories/{{ category.id }}/
eleventyComputed:
    title: "Category: {{ category.name | safe }}"
---
{% set categoriesById = categories | toObject("id") %}

<h3>AI talks excluded</h3>

<ul>
  {% for session in sessions %}
    {% if session.list != "ai" and session.categories | select("eq", category.id) | first %}
      <li>
          {% include 'partials/session-list-entry.njk' %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
