---
title: Schedule
permalink: /schedule.html
layout: base
---

{% for timeBlock in schedule %}
  <div class="schd-timeslot">
    <div class="schd-timeslot-header">
      <div class="schd-time">{{ timeBlock.time }}</div>
      <div class="schd-title">{{ timeBlock.title }}</div>
    </div>
    <div class="schd-sessions">
      {% for sessionUrl in timeBlock.sessions %}
        {% set session = sessions | findAttr("url", sessionUrl) %}
        <div class="schd-session">
          <div class="schd-session-header">
            <div class="schd-session-title">{{ session.title }}</div>
{#            Info about presenters is not currently scraped. Todo for later perhaps?#}
{#            <div class="schd-session-presenters"></div>#}
            <div class="schd-session-description" style="display: none">
              <p>{{ session.description | trim | nl2br }}</p>
{#              Presenter bios is not currently scraped. Todo for later perhaps?#}
{#              <div class="schd-session-bios"></div>#}
            </div>
          </div>
          
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{%- css "local" -%}
  {%- include 'css/schedule.css' -%}
{%- endcss -%}
