---
title: Sessions
permalink: /sessions/index.html
layout: page
sections:
  none:
    title: Not about AI
    open: true
  ai:
    title: AI Sessions
    open: false
---
{% set groupedSessions = sessions | groupby("list") %}

<p>
  Be sure to visit the official site and mark yourself as interested in any sessions that catch your eye.
</p>
<p>
  <strong>Audience interest determines the schedule</strong> and who gets assigned to the larger rooms.
</p>

{% for type, block in sections %}
  <details {{ "open" if block.open }}>
    <summary style="font-family: var(--font-display); font-size: var(--size-step-2);">{{block.title}}</summary>

    <ul>
      {% for session in groupedSessions[type] %}
        <li>
          <a href={{ session.url }}>
            {{ session.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </details>
{% endfor %}
