---
title: Stats
permalink: /stats.html
layout: base
---

<div class="stats">
  <h1>Stats</h1>
  <div class="stat">
    <div class="stats-numbers">
      <div class="total-ai">
        <h2>65</h2>
        <span class="number-label">AI Sessions</span>
      </div>
      <div class="total-non-ai">
        <h2>41</h2>
        <span class="number-label">Non-AI Sessions</span>
      </div>
    </div>
    <div class="stats-bar">
      <div class="stats-bar-red">
        <span>40%</span>
      </div>
      <div class="stats-bar-green">
        <span>60%</span>
      </div>
    </div>
  </div>
</div>

{%- css "local" -%}
  {%- include 'css/stats.css' -%}
{%- endcss -%}