---
title: Stats
permalink: /stats.html
layout: base
---

{% import "partials/stats-display-macros.njk" as statDisplay %}

<div class="stats">
  <h1>Stats</h1>
  {{ statDisplay.bigBar(stats["overall"]["nonAiSessions"], "Non-AI Sessions", stats["overall"]["aiSessions"], "AI Sessions", stats["overall"]["ppSessionsAi"]) }}
</div>

{%- css "local" -%}
  {%- include 'css/stats-macros.css' -%}
  {%- include 'css/stats.css' -%}
{%- endcss -%}
