#main {
    font-family: Verdana, sans-serif;
}

.schd-timeslot {
    margin: 0;
}

.schd-timeslot-header {
    background-color: #434688;
    padding: 15px;
    font-size: 30px;
}

.schd-time {
    display: inline;
    font-weight: bold;
}

.schd-title {
    display: inline;
    margin-left: 10px;
}

.schd-sessions {
    display: grid;
    grid-template-columns: 50% 50%;
}

.schd-session {
    margin: 7px;
}

.schd-session-title {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 12px;
}

.schd-room {
    font-size: 20px;
    /*display: inline;*/
    color: #7ac2db;
    float: right;
}
