.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-numbers {
    display: flex;
    justify-content: space-between;
}

.total-ai {
    color: red;
    padding-left: 5px;
    text-align: right;
}

.total-non-ai {
    color: green;
    padding-right: 5px;
}

.total-ai, .total-non-ai > h1, h2, h3, h4, h5 {
    line-height: 1;
}

.stats-bar {
    height: 35px;
    width: 75vw;
    display: flex;
}

.stats-bar-green {
    height: 100%;
    background-color: green;
    color: white;
    text-align: right;
    border-radius: 5px 0 0 5px;
}

.stats-bar-green > span {
    padding-right: 15px;
}

.stats-bar-red {
    height: 100%;
    background-color: red;
    color: white;
    border-radius: 0 5px 5px 0;
}

.stats-bar-red > span {
    padding-left: 15px;
}
