<p>
  <a href={{ session.url }}>
    {{ session.title }}
  </a>
</p>
<p class="cluster gutter-xs-s" style="font-size: var(--size-step-min-1); color: var(--color-text-accent);">
  {% set comma = joiner() %}
  {% for speaker in session.speakers -%}
    {{ comma() }} {{ speaker.speakerName }}
  {%- endfor %}
  {% for categoryId in session.categories %}
    <a
      class="button"
      data-small-button
      style="
        text-transform: none;
        --button-font-size: var(--size-step-min-2);
        --button-bg: var(--color-bg-accent);
        --button-color: var(--color-text-accent);
        --button-border-color: var(--color-bg-accent-2);
        --button-hover-bg: var(--color-secondary);
        --button-hover-color: var(--color-text);
      "
      href="/categories/{{ categoryId }}/"
    >
      {{ categoriesById[categoryId].name }}
    </a>
  {% endfor %}
</p>
